.contacts__phone {
    font-size: rem(22px);
    text-decoration: none;
    font-style: normal;
    font-weight: bold;
    color: white;
    white-space: nowrap;
}

.header__phone {
    margin-left: rem(6px);
}

.telephone__img {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
}

.contacts__text {
    margin-bottom: rem(6px);
}

.footer__phone {
    text-decoration: none;
    color: #292929;
}

.contacts-footer {
    font-style: normal;
    @include phone {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.contacts-footer__text {
    @include phone {
        margin-bottom: 12px;
    }
}