.footer {
    position: absolute;
    background: white;
    padding: 18px 80px;
    left: 0;
    bottom: 0;
    right: 0;
    font-size: rem(21px);
    line-height: rem(24px);
    display: flex;
    @include tablets {
        padding: rem(18px) rem(12px);
    }
    @include phone {
        flex-direction: column;
    }
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include phone {
        flex-direction: column;
    }
}

.footer__col {
    display: flex;
    align-items: center;
}

.socials {
    display: flex;
    align-items: center;
}

.socials__item {
    margin-right: rem(14px);
}

.socials__item:last-child {
    margin-right: 0;
}

.footer__col--align--right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__telephone {
    @include tablets {
        display: block;
    }
}