.socials__icon {
    width: 20px;
    height: 20px;
    fill: #B3B3B3;
}

.socials__icon:hover {
    fill: black;
}

.telephone__icon {
    width: 12px;
    height: 12px;
}

.feature__icon {
    fill: white;
}

.telephone__icon-header {
    fill: white;
    width: 12px;
    height: 12px;
}